<div class="row">
	<div>
		<h1><%= @user.full_name %></h1>
	</div>

	<% if @statuses %>
		<% @statuses.each do |status| %>
		<div>
			<%= status.content %><br />		
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
			<hr />
		</div>
		<% end %>

	<% end %>
	<div>test</div>
</div>