<div class="row">
	<div class="small-6 columns">
		<fieldset>
			<legend>New status</legend>

			<%= render 'form' %>
		</fieldset>
	</div>


	<div class="columns">
		<%= link_to 'Back', statuses_path %>
	</div>
</div>